nodered/.filament_mldemo.json.backup
[{"id":"1c5d4a6b.1844b6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"36e22448.f0637c","type":"tab","label":"Extract Data","disabled":true,"info":"Attach this onto flow 1 to extract reviews from \nAmazon websites. This will be saved into a CSV \nfile."},{"id":"2dc625bd.89224a","type":"websocket-client","z":"","path":"ws://localhost:6006/ws","tls":"","wholemsg":"false"},{"id":"9a2f4469.706d98","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"c7f3e6df.704bd8","type":"http in","z":"1c5d4a6b.1844b6","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["395e7de9.1e20f2"]]},{"id":"b65015e1.1890a8","type":"http response","z":"1c5d4a6b.1844b6","name":"","statusCode":"","headers":{},"x":1270,"y":80,"wires":[]},{"id":"af6ed681.d28cb8","type":"inject","z":"1c5d4a6b.1844b6","name":"","topic":"","payload":"https://www.amazon.co.uk/Parker-Ingenuity-Rubber-Medium-Technology/product-reviews/B005SA4UNK/ref=cm_cr_dp_d_show_all_top?ie=UTF8&reviewerType=all_reviews","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["c214abe.ce96458"]]},{"id":"19ab8afb.e31155","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":160,"wires":[["b21effaa.9b755","56dd707d.95b8e"]]},{"id":"b21effaa.9b755","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"","tag":".review","ret":"html","as":"single","x":700,"y":180,"wires":[["55ecc386.0fb13c"]]},{"id":"395e7de9.1e20f2","type":"change","z":"1c5d4a6b.1844b6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.search","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":140,"wires":[["19ab8afb.e31155","6c581fae.0c90a"]]},{"id":"56dd707d.95b8e","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"","tag":"li.a-last a","ret":"attr","as":"single","x":700,"y":140,"wires":[["c36fbc71.b443"]]},{"id":"dafb8672.7481f8","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"if ( msg.payload.length > 0 ) { \n    msg.url = \"https://www.amazon.co.uk/\" + msg.payload[0].href;\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["19ab8afb.e31155"]]},{"id":"1707a2f0.32840d","type":"comment","z":"1c5d4a6b.1844b6","name":"Acknowledge the request","info":"Acknowledge the request","x":1290,"y":40,"wires":[]},{"id":"c36fbc71.b443","type":"link out","z":"1c5d4a6b.1844b6","name":"","links":["bf18dd56.aaa8f","47d79d84.d16b44"],"x":795,"y":140,"wires":[]},{"id":"bf18dd56.aaa8f","type":"link in","z":"1c5d4a6b.1844b6","name":"","links":["c36fbc71.b443"],"x":215,"y":260,"wires":[["dafb8672.7481f8"]]},{"id":"c214abe.ce96458","type":"change","z":"1c5d4a6b.1844b6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["19ab8afb.e31155"]]},{"id":"55ecc386.0fb13c","type":"link out","z":"1c5d4a6b.1844b6","name":"","links":["e883f1d9.ffc618"],"x":795,"y":180,"wires":[]},{"id":"f209b66f.c34768","type":"comment","z":"1c5d4a6b.1844b6","name":"Next page of reviews","info":"","x":920,"y":140,"wires":[]},{"id":"9d3048ab.ea6848","type":"comment","z":"1c5d4a6b.1844b6","name":"Process the review text","info":"","x":920,"y":180,"wires":[]},{"id":"6c581fae.0c90a","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":80,"wires":[["74270aba.241134","1b339fd1.b2f88"]]},{"id":"74270aba.241134","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".product-title .a-link-normal","ret":"text","as":"single","x":760,"y":20,"wires":[["ab8c3929.37e658"]]},{"id":"1b339fd1.b2f88","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".totalReviewCount","ret":"text","as":"single","x":730,"y":100,"wires":[["ab8c3929.37e658"]]},{"id":"ab8c3929.37e658","type":"join","z":"1c5d4a6b.1844b6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1000,"y":80,"wires":[["b65015e1.1890a8"]]},{"id":"d5d8665a.9e406","type":"websocket out","z":"1c5d4a6b.1844b6","name":"","server":"9a2f4469.706d98","client":"","x":1560,"y":440,"wires":[]},{"id":"91dd45f7.14b0a","type":"comment","z":"1c5d4a6b.1844b6","name":"Return data to user","info":"This will incrementally send the results of the reviews from each page back to the client via a web socket.","x":1570,"y":500,"wires":[]},{"id":"5ceff3d5.79387c","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".review-text","ret":"text","as":"single","x":390,"y":400,"wires":[["1be70946.89e1df","de7a4cb4.f42e2"]]},{"id":"977d1f63.94a248","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".review-rating","ret":"attr","as":"single","x":440,"y":580,"wires":[["7b785733.a29f88"]]},{"id":"7b785733.a29f88","type":"join","z":"1c5d4a6b.1844b6","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":520,"wires":[["acf57d72.89e7"]]},{"id":"f220bd72.d5c168","type":"split","z":"1c5d4a6b.1844b6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":540,"wires":[["ba32dbae.ccd63"]]},{"id":"ed965229.61dc8","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"POST","ret":"obj","url":"","tls":"","x":810,"y":340,"wires":[["d34c8107.149bd8"]]},{"id":"ba32dbae.ccd63","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"msg.parts = { \n    \"id\" : msg._msgid, \n    \"count\" : 3,\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["977d1f63.94a248","5ceff3d5.79387c"]]},{"id":"e883f1d9.ffc618","type":"link in","z":"1c5d4a6b.1844b6","name":"","links":["55ecc386.0fb13c"],"x":35,"y":540,"wires":[["f220bd72.d5c168"]]},{"id":"1be70946.89e1df","type":"function","z":"1c5d4a6b.1844b6","name":"predict sentiment","func":"msg.url = \"https://api.gamma.engine.filament.ai/rest/api/use-model/150\"\n\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\":\"jnKlRRkREpTDhvK\"\n};\nmsg.payload = {\n  \"input\": msg.payload[0]\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["ed965229.61dc8"]]},{"id":"d34c8107.149bd8","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"//Renaming \"predictions\" to \"sentiment\"\nmsg.payload[0][\"sentiment\"] = msg.payload[0][\"predictions\"];\ndelete msg.payload[0].predictions;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":360,"wires":[["7b785733.a29f88"]]},{"id":"de7a4cb4.f42e2","type":"function","z":"1c5d4a6b.1844b6","name":"predict stars","func":"msg.url = \"https://api.gamma.engine.filament.ai/rest/api/use-model/159\"\n\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\":\"jnKlRRkREpTDhvK\"\n};\nmsg.payload = {\n  \"input\": msg.payload[0]\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["eed9576b.aaa2"]]},{"id":"eed9576b.aaa2","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"POST","ret":"obj","url":"","tls":"","x":770,"y":460,"wires":[["948df558.834a88"]]},{"id":"948df558.834a88","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"//Renaming \"predictions\" to \"sentiment\"\nmsg.payload[0][\"stars\"] = msg.payload[0][\"predictions\"];\ndelete msg.payload[0].predictions;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":460,"wires":[["7b785733.a29f88"]]},{"id":"acf57d72.89e7","type":"function","z":"1c5d4a6b.1844b6","name":"Organise Output","func":"//Organised so all data outputted in same way.  \nif (typeof msg.payload[1][0][\"stars\"] == \"undefined\"){\n    msg.payload[1][0][\"stars\"] = msg.payload[2][0][\"stars\"];\n    delete msg.payload[2][0][\"stars\"];\n    \n    msg.payload[2][0][\"sentiment\"] = msg.payload[1][0][\"sentiment\"];\n    delete msg.payload[1][0][\"sentiment\"];\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":460,"wires":[["986de6ac.1b3478","d5d8665a.9e406"]]},{"id":"267af187.7b409e","type":"function","z":"36e22448.f0637c","name":"","func":"var rating = msg.payload[0][0][\"class\"].charAt(26);\nvar FullText = msg.payload[1][0][\"FullText\"];\n\n\nmsg.payload = [rating, FullText];\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["d529e44c.c2def"]]},{"id":"d529e44c.c2def","type":"csv","z":"36e22448.f0637c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":490,"y":120,"wires":[["83c06066.b11eb8"]]},{"id":"83c06066.b11eb8","type":"file","z":"36e22448.f0637c","name":"","filename":"Amazon Star.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":650,"y":200,"wires":[]},{"id":"986de6ac.1b3478","type":"debug","z":"1c5d4a6b.1844b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1530,"y":340,"wires":[]}]