nodered/.filament_mldemo.json.backup
[{"id":"1c5d4a6b.1844b6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"68d28ce9.41cb04","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2dc625bd.89224a","type":"websocket-client","z":"","path":"ws://localhost:6006/ws","tls":"","wholemsg":"false"},{"id":"9a2f4469.706d98","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"c7f3e6df.704bd8","type":"http in","z":"1c5d4a6b.1844b6","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["395e7de9.1e20f2"]]},{"id":"b65015e1.1890a8","type":"http response","z":"1c5d4a6b.1844b6","name":"","statusCode":"","headers":{},"x":1150,"y":80,"wires":[]},{"id":"6cadc88a.4de4f8","type":"websocket out","z":"1c5d4a6b.1844b6","name":"","server":"9a2f4469.706d98","client":"","x":1180,"y":300,"wires":[]},{"id":"af6ed681.d28cb8","type":"inject","z":"1c5d4a6b.1844b6","name":"","topic":"","payload":"https://www.amazon.co.uk/Mpow-Premium-Mounting-Samsung-Smartphone/product-reviews/B019DCGKSQ/ref=cm_cr_dp_d_show_all_top?ie=UTF8&reviewerType=all_reviews","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["c214abe.ce96458"]]},{"id":"19ab8afb.e31155","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":162,"wires":[["b21effaa.9b755","56dd707d.95b8e"]]},{"id":"b21effaa.9b755","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"","tag":".review","ret":"html","as":"single","x":700,"y":180,"wires":[["55ecc386.0fb13c"]]},{"id":"395e7de9.1e20f2","type":"change","z":"1c5d4a6b.1844b6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.search","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":140,"wires":[["19ab8afb.e31155","6c581fae.0c90a"]]},{"id":"56dd707d.95b8e","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"","tag":"li.a-last a","ret":"attr","as":"single","x":700,"y":140,"wires":[["c36fbc71.b443"]]},{"id":"dafb8672.7481f8","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"if ( msg.payload.length > 0 ) { \n    msg.url = \"https://www.amazon.co.uk/\" + msg.payload[0].href;\n    return msg;\n}","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["19ab8afb.e31155"]]},{"id":"bba3f38e.765e6","type":"comment","z":"1c5d4a6b.1844b6","name":"Return data to user","info":"This will incrementally send the results of the reviews from each page back to the client via a web socket.","x":1190,"y":260,"wires":[]},{"id":"1707a2f0.32840d","type":"comment","z":"1c5d4a6b.1844b6","name":"Acknowledge the request","info":"Acknowledge the request","x":1210,"y":40,"wires":[]},{"id":"c36fbc71.b443","type":"link out","z":"1c5d4a6b.1844b6","name":"","links":["bf18dd56.aaa8f"],"x":795,"y":140,"wires":[]},{"id":"bf18dd56.aaa8f","type":"link in","z":"1c5d4a6b.1844b6","name":"","links":["c36fbc71.b443"],"x":255,"y":260,"wires":[["dafb8672.7481f8"]]},{"id":"de2cd393.a4975","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".review-text","ret":"text","as":"single","x":510,"y":300,"wires":[["59478ef6.09528"]]},{"id":"ff7cbb7.fa6ec48","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".review-rating","ret":"attr","as":"single","x":520,"y":340,"wires":[["8a9d0e08.cadfe"]]},{"id":"8a9d0e08.cadfe","type":"join","z":"1c5d4a6b.1844b6","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":320,"wires":[["6cadc88a.4de4f8","72579e.1f40c864"]]},{"id":"c214abe.ce96458","type":"change","z":"1c5d4a6b.1844b6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["19ab8afb.e31155"]]},{"id":"3e0194fa.11fbec","type":"split","z":"1c5d4a6b.1844b6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":320,"wires":[["8b7a6f5f.2475c"]]},{"id":"dd16e204.1dc48","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"POST","ret":"obj","url":"","tls":"","x":790,"y":300,"wires":[["8a9d0e08.cadfe"]]},{"id":"59478ef6.09528","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"msg.url = \"http://api.staging.engine.filament.ai/rest/api/use-model/189\"\n\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\" : \"3V5xBZFBcKkrmHm\"\n};\nmsg.payload = {\n  \"input\": msg.payload[0]\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":300,"wires":[["dd16e204.1dc48"]]},{"id":"8b7a6f5f.2475c","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"msg.parts = { \n    \"id\" : msg._msgid, \n    \"count\" : 2\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["de2cd393.a4975","ff7cbb7.fa6ec48"]]},{"id":"55ecc386.0fb13c","type":"link out","z":"1c5d4a6b.1844b6","name":"","links":["3329f29f.841a2e","c62d2e73.d519b","28d39dd5.bd66d2"],"x":795,"y":180,"wires":[]},{"id":"3329f29f.841a2e","type":"link in","z":"1c5d4a6b.1844b6","name":"","links":["55ecc386.0fb13c"],"x":120,"y":320,"wires":[["3e0194fa.11fbec"]]},{"id":"f209b66f.c34768","type":"comment","z":"1c5d4a6b.1844b6","name":"Next page of reviews","info":"","x":920,"y":140,"wires":[]},{"id":"9d3048ab.ea6848","type":"comment","z":"1c5d4a6b.1844b6","name":"Process the review text","info":"","x":920,"y":180,"wires":[]},{"id":"6c581fae.0c90a","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":80,"wires":[["74270aba.241134","1b339fd1.b2f88"]]},{"id":"74270aba.241134","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".product-title .a-link-normal","ret":"text","as":"single","x":760,"y":60,"wires":[["ab8c3929.37e658"]]},{"id":"1b339fd1.b2f88","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".totalReviewCount","ret":"text","as":"single","x":730,"y":100,"wires":[["ab8c3929.37e658"]]},{"id":"ab8c3929.37e658","type":"join","z":"1c5d4a6b.1844b6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1000,"y":80,"wires":[["b65015e1.1890a8"]]},{"id":"73a1705e.613b98","type":"inject","z":"68d28ce9.41cb04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["a6cba77f.6f77e"]]},{"id":"a6cba77f.6f77e","type":"function","z":"68d28ce9.41cb04","name":"","func":"msg.headers = {\n    \"Authorization\":\"jnKlRRkREpTDhvK\",\n    \"Content-type\": \"application/json\"\n};\nmsg.payload = {\n    \"input\":\"ok\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["fbc63b62.fb8e38","29c66962.ec5e66"]]},{"id":"29c66962.ec5e66","type":"http request","z":"68d28ce9.41cb04","name":"Classify Image","method":"POST","ret":"obj","url":"https://api.gamma.engine.filament.ai/rest/api/use-model/150","tls":"","x":480,"y":160,"wires":[["88af5979.09b09"]]},{"id":"e494ddf8.f0092","type":"debug","z":"68d28ce9.41cb04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":320,"wires":[]},{"id":"72579e.1f40c864","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"var rating = msg.payload[0][0][\"class\"].charAt(26);\nvar FullText = msg.payload[1][0][\"FullText\"];\n\n\nmsg.payload = [rating, FullText];\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":380,"wires":[["2f8e73a.e05790c"]]},{"id":"2f8e73a.e05790c","type":"csv","z":"1c5d4a6b.1844b6","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1070,"y":480,"wires":[["722d494f.40cea8"]]},{"id":"43ef1d2b.43291c","type":"file","z":"1c5d4a6b.1844b6","name":"","filename":"Amazon Star.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1230,"y":560,"wires":[]},{"id":"722d494f.40cea8","type":"debug","z":"1c5d4a6b.1844b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1310,"y":400,"wires":[]},{"id":"88af5979.09b09","type":"function","z":"68d28ce9.41cb04","name":"","func":"msg.payload = msg.payload[0][\"predictions\"];\nvar result = msg.payload[0][\"label\"];\nmsg.payload = \"The review is \" + result;\nreturn msg;\n ","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["e494ddf8.f0092"]]},{"id":"fbc63b62.fb8e38","type":"http request","z":"68d28ce9.41cb04","name":"Classify Image","method":"POST","ret":"obj","url":"https://api.gamma.engine.filament.ai/rest/api/use-model/159","tls":"","x":380,"y":340,"wires":[["74077bc3.6e4fac"]]},{"id":"1112a280.594cfe","type":"debug","z":"68d28ce9.41cb04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":440,"wires":[]},{"id":"74077bc3.6e4fac","type":"function","z":"68d28ce9.41cb04","name":"","func":"msg.payload = msg.payload[0][\"predictions\"][0][\"label\"];\nmsg.payload += \" stars\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["1112a280.594cfe"]]}]