nodered/filament_mldemo.json
[{"id":"1c5d4a6b.1844b6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"68d28ce9.41cb04","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"1b38677a.0a4ad1","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"2dc625bd.89224a","type":"websocket-client","z":"","path":"ws://localhost:6006/ws","tls":"","wholemsg":"false"},{"id":"9a2f4469.706d98","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"c7f3e6df.704bd8","type":"http in","z":"1c5d4a6b.1844b6","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["395e7de9.1e20f2"]]},{"id":"b65015e1.1890a8","type":"http response","z":"1c5d4a6b.1844b6","name":"","statusCode":"","headers":{},"x":1150,"y":80,"wires":[]},{"id":"af6ed681.d28cb8","type":"inject","z":"1c5d4a6b.1844b6","name":"","topic":"","payload":"https://www.amazon.co.uk/Parker-Ingenuity-Rubber-Medium-Technology/product-reviews/B005SA4UNK/ref=cm_cr_dp_d_show_all_top?ie=UTF8&reviewerType=all_reviews","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["c214abe.ce96458"]]},{"id":"19ab8afb.e31155","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":162,"wires":[["b21effaa.9b755","56dd707d.95b8e"]]},{"id":"b21effaa.9b755","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"","tag":".review","ret":"html","as":"single","x":700,"y":180,"wires":[["55ecc386.0fb13c"]]},{"id":"395e7de9.1e20f2","type":"change","z":"1c5d4a6b.1844b6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.search","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":140,"wires":[["19ab8afb.e31155","6c581fae.0c90a"]]},{"id":"56dd707d.95b8e","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"","tag":"li.a-last a","ret":"attr","as":"single","x":700,"y":140,"wires":[["c36fbc71.b443"]]},{"id":"dafb8672.7481f8","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"if ( msg.payload.length > 0 ) { \n    msg.url = \"https://www.amazon.co.uk/\" + msg.payload[0].href;\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["19ab8afb.e31155"]]},{"id":"1707a2f0.32840d","type":"comment","z":"1c5d4a6b.1844b6","name":"Acknowledge the request","info":"Acknowledge the request","x":1210,"y":40,"wires":[]},{"id":"c36fbc71.b443","type":"link out","z":"1c5d4a6b.1844b6","name":"","links":["bf18dd56.aaa8f","47d79d84.d16b44"],"x":795,"y":140,"wires":[]},{"id":"bf18dd56.aaa8f","type":"link in","z":"1c5d4a6b.1844b6","name":"","links":["c36fbc71.b443"],"x":215,"y":260,"wires":[["dafb8672.7481f8"]]},{"id":"c214abe.ce96458","type":"change","z":"1c5d4a6b.1844b6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["19ab8afb.e31155"]]},{"id":"55ecc386.0fb13c","type":"link out","z":"1c5d4a6b.1844b6","name":"","links":["3329f29f.841a2e","c62d2e73.d519b","28d39dd5.bd66d2","cd55a838.9fffc","50bfd89b.37577","28e5cc31.ab2444","e883f1d9.ffc618"],"x":795,"y":180,"wires":[]},{"id":"f209b66f.c34768","type":"comment","z":"1c5d4a6b.1844b6","name":"Next page of reviews","info":"","x":920,"y":140,"wires":[]},{"id":"9d3048ab.ea6848","type":"comment","z":"1c5d4a6b.1844b6","name":"Process the review text","info":"","x":920,"y":180,"wires":[]},{"id":"6c581fae.0c90a","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":80,"wires":[["74270aba.241134","1b339fd1.b2f88"]]},{"id":"74270aba.241134","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".product-title .a-link-normal","ret":"text","as":"single","x":760,"y":60,"wires":[["ab8c3929.37e658"]]},{"id":"1b339fd1.b2f88","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".totalReviewCount","ret":"text","as":"single","x":730,"y":100,"wires":[["ab8c3929.37e658"]]},{"id":"ab8c3929.37e658","type":"join","z":"1c5d4a6b.1844b6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1000,"y":80,"wires":[["b65015e1.1890a8"]]},{"id":"73a1705e.613b98","type":"inject","z":"68d28ce9.41cb04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["a6cba77f.6f77e"]]},{"id":"72579e.1f40c864","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"var rating = msg.payload[0][0][\"class\"].charAt(26);\nvar FullText = msg.payload[1][0][\"FullText\"];\n\n\nmsg.payload = [rating, FullText];\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":260,"wires":[["2f8e73a.e05790c"]]},{"id":"2f8e73a.e05790c","type":"csv","z":"1c5d4a6b.1844b6","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":2030,"y":220,"wires":[["722d494f.40cea8","43ef1d2b.43291c"]]},{"id":"43ef1d2b.43291c","type":"file","z":"1c5d4a6b.1844b6","name":"","filename":"Amazon Star.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":2190,"y":300,"wires":[]},{"id":"722d494f.40cea8","type":"debug","z":"1c5d4a6b.1844b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2250,"y":140,"wires":[]},{"id":"fbc63b62.fb8e38","type":"http request","z":"68d28ce9.41cb04","name":"Classify Image","method":"POST","ret":"obj","url":"https://api.gamma.engine.filament.ai/rest/api/use-model/159","tls":"","x":380,"y":340,"wires":[["74077bc3.6e4fac"]]},{"id":"74077bc3.6e4fac","type":"function","z":"68d28ce9.41cb04","name":"star rating","func":"msg.payload = msg.payload[0][\"predictions\"][0][\"label\"];\nmsg.payload += \" stars\"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["1112a280.594cfe"]]},{"id":"1112a280.594cfe","type":"debug","z":"68d28ce9.41cb04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":440,"wires":[]},{"id":"a6cba77f.6f77e","type":"function","z":"68d28ce9.41cb04","name":"","func":"msg.headers = {\n    \"Authorization\":\"jnKlRRkREpTDhvK\",\n    \"Content-type\": \"application/json\"\n};\nmsg.payload = {\n    \"input\":\"Good product but needs improvement\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["fbc63b62.fb8e38"]]},{"id":"7f3bc5f7.1b5204","type":"websocket out","z":"1b38677a.0a4ad1","name":"","server":"9a2f4469.706d98","client":"","x":1340,"y":220,"wires":[]},{"id":"a6eb6bee.e71548","type":"comment","z":"1b38677a.0a4ad1","name":"Return data to user","info":"This will incrementally send the results of the reviews from each page back to the client via a web socket.","x":1350,"y":180,"wires":[]},{"id":"2e0d262c.b7d052","type":"html","z":"1b38677a.0a4ad1","name":"","property":"payload","outproperty":"payload","tag":".review-text","ret":"text","as":"single","x":390,"y":180,"wires":[["25c044b3.18367c","1a0cb2aa.1acb85"]]},{"id":"7ce285f4.11df1c","type":"html","z":"1b38677a.0a4ad1","name":"","property":"payload","outproperty":"payload","tag":".review-rating","ret":"attr","as":"single","x":440,"y":340,"wires":[["28bd0a03.8e3cbe"]]},{"id":"28bd0a03.8e3cbe","type":"join","z":"1b38677a.0a4ad1","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":340,"wires":[["7f3bc5f7.1b5204","ccb313c5.fa2838"]]},{"id":"f41e28ed.d48b38","type":"split","z":"1b38677a.0a4ad1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":300,"wires":[["9b100cb6.2271d"]]},{"id":"7657e5b7.f6ed9c","type":"http request","z":"1b38677a.0a4ad1","name":"","method":"POST","ret":"obj","url":"","tls":"","x":750,"y":120,"wires":[["82e9ffc.200898"]]},{"id":"9b100cb6.2271d","type":"function","z":"1b38677a.0a4ad1","name":"","func":"msg.parts = { \n    \"id\" : msg._msgid, \n    \"count\" : 3\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":300,"wires":[["2e0d262c.b7d052","7ce285f4.11df1c"]]},{"id":"28e5cc31.ab2444","type":"link in","z":"1b38677a.0a4ad1","name":"","links":["55ecc386.0fb13c"],"x":35,"y":300,"wires":[["f41e28ed.d48b38"]]},{"id":"ccb313c5.fa2838","type":"debug","z":"1b38677a.0a4ad1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1310,"y":320,"wires":[]},{"id":"25c044b3.18367c","type":"function","z":"1b38677a.0a4ad1","name":"predict sentiment","func":"msg.url = \"http://api.staging.engine.filament.ai/rest/api/use-model/189\"\n\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\" : \"3V5xBZFBcKkrmHm\"\n};\nmsg.payload = {\n  \"input\": msg.payload[0]\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["7657e5b7.f6ed9c"]]},{"id":"82e9ffc.200898","type":"function","z":"1b38677a.0a4ad1","name":"","func":"msg.payload[0][\"sentiment\"] = msg.payload[0][\"predictions\"];\ndelete msg.payload[0][\"predictions\"];\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":120,"wires":[["28bd0a03.8e3cbe"]]},{"id":"1a0cb2aa.1acb85","type":"function","z":"1b38677a.0a4ad1","name":"predict stars","func":"msg.url = \"https://api.gamma.engine.filament.ai/rest/api/use-model/159\";\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\" : \"jnKlRRkREpTDhvK\"\n};\nmsg.payload = {\n  \"input\": msg.payload[0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["58e66c57.e8e5ec"]]},{"id":"8d785bf2.6c8108","type":"function","z":"1b38677a.0a4ad1","name":"","func":"msg.payload[0][\"stars\"] = msg.payload[0][\"predictions\"];\ndelete msg.payload[0][\"predictions\"];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":220,"wires":[["28bd0a03.8e3cbe"]]},{"id":"58e66c57.e8e5ec","type":"http request","z":"1b38677a.0a4ad1","name":"","method":"POST","ret":"obj","url":"","tls":"","x":710,"y":220,"wires":[["8d785bf2.6c8108"]]},{"id":"d5d8665a.9e406","type":"websocket out","z":"1c5d4a6b.1844b6","name":"","server":"9a2f4469.706d98","client":"","x":1440,"y":500,"wires":[]},{"id":"91dd45f7.14b0a","type":"comment","z":"1c5d4a6b.1844b6","name":"Return data to user","info":"This will incrementally send the results of the reviews from each page back to the client via a web socket.","x":1450,"y":460,"wires":[]},{"id":"5ceff3d5.79387c","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".review-text","ret":"text","as":"single","x":390,"y":420,"wires":[["1be70946.89e1df","de7a4cb4.f42e2"]]},{"id":"977d1f63.94a248","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".review-rating","ret":"attr","as":"single","x":440,"y":580,"wires":[["7b785733.a29f88"]]},{"id":"7b785733.a29f88","type":"join","z":"1c5d4a6b.1844b6","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":520,"wires":[["76b222c5.dd6f9c"]]},{"id":"f220bd72.d5c168","type":"split","z":"1c5d4a6b.1844b6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":540,"wires":[["ba32dbae.ccd63"]]},{"id":"ed965229.61dc8","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"POST","ret":"obj","url":"http://api.staging.engine.filament.ai/rest/api/use-model/189","tls":"","x":750,"y":360,"wires":[["d34c8107.149bd8"]]},{"id":"ba32dbae.ccd63","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"msg.parts = { \n    \"id\" : msg._msgid, \n    \"count\" : 3\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["5ceff3d5.79387c","977d1f63.94a248"]]},{"id":"e883f1d9.ffc618","type":"link in","z":"1c5d4a6b.1844b6","name":"","links":["55ecc386.0fb13c"],"x":35,"y":540,"wires":[["f220bd72.d5c168"]]},{"id":"941b2a98.d94cd8","type":"debug","z":"1c5d4a6b.1844b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1410,"y":580,"wires":[]},{"id":"1be70946.89e1df","type":"function","z":"1c5d4a6b.1844b6","name":"predict sentiment","func":"msg.url = \"http://api.staging.engine.filament.ai/rest/api/use-model/189\"\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\" : \"3V5xBZFBcKkrmHm\"\n};\nmsg.payload = {\n  \"input\": msg.payload[0]\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["ed965229.61dc8"]]},{"id":"d34c8107.149bd8","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"//Renaming \"predictions\" to \"sentiment\"\nmsg.payload[0][\"sentiment\"] = msg.payload[0][\"predictions\"];\ndelete msg.payload[0][\"predictions\"];\n\n//Removing duplicate content\ndelete msg.payload[0][\"sentiment\"][0][\"content\"];\ndelete msg.payload[0][\"sentiment\"][1][\"content\"];\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[["7b785733.a29f88"]]},{"id":"de7a4cb4.f42e2","type":"function","z":"1c5d4a6b.1844b6","name":"predict stars","func":"msg.url = \"https://api.gamma.engine.filament.ai/rest/api/use-model/159\";\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\" : \"jnKlRRkREpTDhvK\"\n};\nmsg.payload = {\n  \"input\": msg.payload[0]\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":460,"wires":[["eed9576b.aaa2"]]},{"id":"eed9576b.aaa2","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"POST","ret":"obj","url":"https://api.gamma.engine.filament.ai/rest/api/use-model/159","tls":"","x":710,"y":460,"wires":[["948df558.834a88"]]},{"id":"76b222c5.dd6f9c","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"msg.payload[1][0][\"stars\"] = msg.payload[2][0][\"stars\"];\nmsg.payload.pop()\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":520,"wires":[["941b2a98.d94cd8","d5d8665a.9e406"]]},{"id":"948df558.834a88","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"//Renaming \"predictions\" to \"stars\"\nmsg.payload[0][\"stars\"] = msg.payload[0][\"predictions\"];\ndelete msg.payload[0][\"predictions\"];\n\n//Removing duplicate content\nfor(let i = 0; i < 5; i++){\n    delete msg.payload[0][\"stars\"][i][\"content\"];\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":460,"wires":[["7b785733.a29f88"]]}]