nodered/filament_mldemo.json
[{"id":"1c5d4a6b.1844b6","type":"tab","label":"Get Reviews","disabled":false,"info":""},{"id":"edb85ec.6c52fa","type":"tab","label":"Submit Review","disabled":false,"info":""},{"id":"68d28ce9.41cb04","type":"tab","label":"Test / Dev","disabled":false,"info":""},{"id":"fc3f653e.9f81b8","type":"subflow","name":"Entity Extraction","info":"","in":[{"x":434,"y":86,"wires":[{"id":"d0b20b47.6f7868"}]}],"out":[{"x":436,"y":238,"wires":[{"id":"4a5f8ac8.d540e4","port":0}]}]},{"id":"2dc625bd.89224a","type":"websocket-client","z":"","path":"ws://localhost:7007/ws","tls":"","wholemsg":"false"},{"id":"9a2f4469.706d98","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"c7f3e6df.704bd8","type":"http in","z":"1c5d4a6b.1844b6","name":"","url":"/fetch","method":"post","upload":false,"swaggerDoc":"","x":122,"y":141,"wires":[["395e7de9.1e20f2"]]},{"id":"b65015e1.1890a8","type":"http response","z":"1c5d4a6b.1844b6","name":"","statusCode":"","headers":{},"x":1150,"y":80,"wires":[]},{"id":"6cadc88a.4de4f8","type":"websocket out","z":"1c5d4a6b.1844b6","name":"","server":"9a2f4469.706d98","client":"","x":1536,"y":411,"wires":[]},{"id":"19ab8afb.e31155","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"GET","ret":"txt","url":"","tls":"","x":535,"y":150,"wires":[["b21effaa.9b755","56dd707d.95b8e"]]},{"id":"b21effaa.9b755","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"","tag":".review","ret":"html","as":"single","x":700,"y":180,"wires":[["55ecc386.0fb13c"]]},{"id":"395e7de9.1e20f2","type":"change","z":"1c5d4a6b.1844b6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.search","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":140,"wires":[["19ab8afb.e31155","6c581fae.0c90a"]]},{"id":"56dd707d.95b8e","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"","tag":"li.a-last a","ret":"attr","as":"single","x":700,"y":140,"wires":[["c36fbc71.b443"]]},{"id":"dafb8672.7481f8","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"if ( msg.payload.length > 0 ) {\n    var index = msg.payload[0].href.indexOf(\"=\",4) + 45;\n    var pages = msg.payload[0].href.slice(index, -25);\n    if (pages[0] == \"=\") {\n        pages = pages.slice(1)\n    }  \n    if (pages < 11) {\n        msg.url = \"https://www.amazon.co.uk/\" + msg.payload[0].href;\n        return msg;    \n    }\n}","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["19ab8afb.e31155"]]},{"id":"bba3f38e.765e6","type":"comment","z":"1c5d4a6b.1844b6","name":"Return data to user","info":"This will incrementally send the results of the reviews from each page back to the client via a web socket.","x":1550,"y":360,"wires":[]},{"id":"1707a2f0.32840d","type":"comment","z":"1c5d4a6b.1844b6","name":"Acknowledge the request","info":"Acknowledge the request","x":1158,"y":38,"wires":[]},{"id":"c36fbc71.b443","type":"link out","z":"1c5d4a6b.1844b6","name":"","links":["bf18dd56.aaa8f","c60cc933.e9cd98"],"x":795,"y":140,"wires":[]},{"id":"bf18dd56.aaa8f","type":"link in","z":"1c5d4a6b.1844b6","name":"","links":["c36fbc71.b443"],"x":255,"y":200,"wires":[["dafb8672.7481f8"]]},{"id":"de2cd393.a4975","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".review-text","ret":"text","as":"single","x":430,"y":480,"wires":[["59478ef6.09528","b53dd5f6.ca2f68","9d303e55.ea73a"]]},{"id":"ff7cbb7.fa6ec48","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".review-rating","ret":"attr","as":"single","x":441,"y":360,"wires":[["4d6e7ad5.74a224"]]},{"id":"3e0194fa.11fbec","type":"split","z":"1c5d4a6b.1844b6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":152,"y":417,"wires":[["8b7a6f5f.2475c"]]},{"id":"dd16e204.1dc48","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"POST","ret":"obj","url":"","tls":"","x":810,"y":420,"wires":[["fd25591b.1e0458"]]},{"id":"59478ef6.09528","type":"function","z":"1c5d4a6b.1844b6","name":"Default Sentiment","func":"msg.url = \"http://api.staging.engine.filament.ai/rest/api/use-model/203\"\n\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\" : \"IbMRsePRrj72fE6\"\n};\nmsg.payload = {\n  \"input\": msg.payload[0]\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":420,"wires":[["dd16e204.1dc48"]]},{"id":"8b7a6f5f.2475c","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"msg.parts = { \n    \"id\" : msg._msgid, \n    \"count\" : 4\n}\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":418,"wires":[["de2cd393.a4975","ff7cbb7.fa6ec48"]]},{"id":"55ecc386.0fb13c","type":"link out","z":"1c5d4a6b.1844b6","name":"","links":["3329f29f.841a2e","c62d2e73.d519b","28d39dd5.bd66d2"],"x":795,"y":180,"wires":[]},{"id":"3329f29f.841a2e","type":"link in","z":"1c5d4a6b.1844b6","name":"","links":["55ecc386.0fb13c"],"x":76,"y":417,"wires":[["3e0194fa.11fbec"]]},{"id":"f209b66f.c34768","type":"comment","z":"1c5d4a6b.1844b6","name":"Next page of reviews","info":"","x":920,"y":140,"wires":[]},{"id":"9d3048ab.ea6848","type":"comment","z":"1c5d4a6b.1844b6","name":"Process the review text","info":"","x":920,"y":180,"wires":[]},{"id":"6c581fae.0c90a","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":80,"wires":[["74270aba.241134","1b339fd1.b2f88"]]},{"id":"74270aba.241134","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".product-title .a-link-normal","ret":"text","as":"single","x":760,"y":60,"wires":[["ab8c3929.37e658"]]},{"id":"1b339fd1.b2f88","type":"html","z":"1c5d4a6b.1844b6","name":"","property":"payload","outproperty":"payload","tag":".totalReviewCount","ret":"text","as":"single","x":730,"y":100,"wires":[["ab8c3929.37e658"]]},{"id":"ab8c3929.37e658","type":"join","z":"1c5d4a6b.1844b6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1000,"y":80,"wires":[["b65015e1.1890a8"]]},{"id":"73a1705e.613b98","type":"inject","z":"68d28ce9.41cb04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":102,"wires":[["a6cba77f.6f77e"]]},{"id":"a6cba77f.6f77e","type":"function","z":"68d28ce9.41cb04","name":"","func":"msg.headers = {\n    \"Authorization\":\"jnKlRRkREpTDhvK\",\n    \"Content-type\": \"application/json\"\n};\n// msg.payload = {\n//     \"input\":\"Good product but needs improvement\"\n// }\n\nreturn msg;","outputs":1,"noerr":0,"x":372,"y":144,"wires":[["fbc63b62.fb8e38","29c66962.ec5e66"]]},{"id":"29c66962.ec5e66","type":"http request","z":"68d28ce9.41cb04","name":"Classify Sentiment","method":"POST","ret":"obj","url":"https://api.gamma.engine.filament.ai/rest/api/use-model/150","tls":"","x":563,"y":115,"wires":[["88af5979.09b09"]]},{"id":"72579e.1f40c864","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"var rating = msg.payload[0][0][\"class\"].charAt(26);\nvar FullText = msg.payload[1][0][\"FullText\"];\n\n\nmsg.payload = [rating, FullText];\nreturn msg;","outputs":1,"noerr":0,"x":1551,"y":160,"wires":[["2f8e73a.e05790c"]]},{"id":"2f8e73a.e05790c","type":"csv","z":"1c5d4a6b.1844b6","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1673,"y":159,"wires":[["722d494f.40cea8","43ef1d2b.43291c"]]},{"id":"43ef1d2b.43291c","type":"file","z":"1c5d4a6b.1844b6","name":"","filename":"Amazon Star.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1830,"y":180,"wires":[]},{"id":"722d494f.40cea8","type":"debug","z":"1c5d4a6b.1844b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1810,"y":140,"wires":[]},{"id":"88af5979.09b09","type":"function","z":"68d28ce9.41cb04","name":"","func":"msg.payload = msg.payload[0].predictions[0];\nreturn msg;\n ","outputs":1,"noerr":0,"x":732,"y":115,"wires":[["1a7b8255.1b068e"]]},{"id":"fbc63b62.fb8e38","type":"http request","z":"68d28ce9.41cb04","name":"Classify Stars","method":"POST","ret":"obj","url":"https://api.gamma.engine.filament.ai/rest/api/use-model/159","tls":"","x":555,"y":175,"wires":[["74077bc3.6e4fac"]]},{"id":"74077bc3.6e4fac","type":"function","z":"68d28ce9.41cb04","name":"","func":"msg.payload = msg.payload[0].predictions[0];\nreturn msg;","outputs":1,"noerr":0,"x":734,"y":175,"wires":[["3fb94107.8eb74e"]]},{"id":"404c9d4a.29ef74","type":"http request","z":"fc3f653e.9f81b8","name":"","method":"POST","ret":"obj","url":"http://api.staging.engine.filament.ai/rest/api/use-model/190","tls":"","x":430,"y":160,"wires":[["4a5f8ac8.d540e4"]]},{"id":"d0b20b47.6f7868","type":"change","z":"fc3f653e.9f81b8","name":"Authorisation Header","rules":[{"t":"set","p":"headers.Authorization","pt":"msg","to":"IbMRsePRrj72fE6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":432.5,"y":124.39999389648438,"wires":[["404c9d4a.29ef74"]]},{"id":"4a5f8ac8.d540e4","type":"change","z":"fc3f653e.9f81b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].predictions","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":433,"y":193.99996948242188,"wires":[[]]},{"id":"433836af.801568","type":"function","z":"fc3f653e.9f81b8","name":"Function","func":"var labels = [];\nfor (var prediction of msg.payload) {\n    labels.push(prediction.label);\n}\nmsg.payload = labels;\nreturn msg;","outputs":1,"noerr":0,"x":685.5,"y":214.5999755859375,"wires":[[]]},{"id":"429423dc.5bd73c","type":"debug","z":"1c5d4a6b.1844b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1529,"y":474,"wires":[]},{"id":"e45130ef.fa2c6","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"POST","ret":"obj","url":"","tls":"","x":810,"y":480,"wires":[["818325da.5d0218"]]},{"id":"b53dd5f6.ca2f68","type":"function","z":"1c5d4a6b.1844b6","name":"predict sentiment","func":"msg.url = \"https://api.gamma.engine.filament.ai/rest/api/use-model/150\"\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\" : \"jnKlRRkREpTDhvK\"\n};\nmsg.payload = {\n  \"input\": msg.payload[0]\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["e45130ef.fa2c6"]]},{"id":"818325da.5d0218","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"//Renaming \"predictions\" to \"sentiment\"\nmsg.payload[0][\"sentiment\"] = msg.payload[0][\"predictions\"];\ndelete msg.payload[0][\"predictions\"];\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":480,"wires":[["8353b1c9.f0801"]]},{"id":"9d303e55.ea73a","type":"function","z":"1c5d4a6b.1844b6","name":"predict stars","func":"msg.url = \"https://api.gamma.engine.filament.ai/rest/api/use-model/159\"\n\nmsg.headers = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\" : \"jnKlRRkREpTDhvK\"\n};\nmsg.payload = {\n  \"input\": msg.payload[0]\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["3cb18441.99b97c"]]},{"id":"3cb18441.99b97c","type":"http request","z":"1c5d4a6b.1844b6","name":"","method":"POST","ret":"obj","url":"","tls":"","x":811,"y":540,"wires":[["e8d0b679.336768"]]},{"id":"e8d0b679.336768","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"//Renaming \"predictions\" to \"sentiment\"\nmsg.payload[0][\"stars\"] = msg.payload[0][\"predictions\"];\ndelete msg.payload[0][\"predictions\"];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":540,"wires":[["8353b1c9.f0801"]]},{"id":"a50193dc.30afe","type":"comment","z":"1c5d4a6b.1844b6","name":"Unused","info":"Create a CSV from the reviews so that we can build a model from them. ","x":1550,"y":120,"wires":[]},{"id":"8353b1c9.f0801","type":"join","z":"1c5d4a6b.1844b6","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1108,"y":451,"wires":[["cf34f012.efa6c"]]},{"id":"4d6e7ad5.74a224","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":360,"wires":[["8353b1c9.f0801"]]},{"id":"fd25591b.1e0458","type":"function","z":"1c5d4a6b.1844b6","name":"","func":"//Renaming \"predictions\" to \"sentiment\"\nmsg.payload[0][\"spacy\"] = msg.payload[0][\"predictions\"];\ndelete msg.payload[0][\"predictions\"];\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":420,"wires":[["8353b1c9.f0801"]]},{"id":"cf34f012.efa6c","type":"function","z":"1c5d4a6b.1844b6","name":"Assemble Return Object","func":"var sentiment = null;\nvar spacy = null;\nvar stars = null;\nvar predstars = null;\n\n// ensure that things can come in any order and things will still work. \n\nfor ( var i = 0; i < msg.payload.length; i++ ) { \n    if ( msg.payload[i][0].sentiment != null ) { \n        sentiment = msg.payload[i][0].sentiment;\n    }  else if ( msg.payload[i][0].spacy != null ) { \n        spacy = msg.payload[i][0].spacy;\n    }  else if ( msg.payload[i][0].stars != null ) { \n        predstars = msg.payload[i][0].stars;\n    }  else { \n        stars = msg.payload[i][0];   \n    }\n}\n\nvar rtn = { \n    \"FullText\" : msg.payload[1][0].FullText,\n    \"sentiment\" : { \n        \"predicted\" : { \n            \"data\" :  sentiment,\n            \"value\" : \"\"\n        },\n        \"spacy\" : {  \n            \"data\" : spacy,\n            \"value\" : \"\"\n        }\n    },\n    \"rating\" : { \n        \"predicted\" : { \n            \"data\" : predstars,\n            \"value\" : 0\n        },\n        \"actual\" : { \n            \"data\" : stars,\n            \"value\" : 0\n        }\n    }\n}\n\n// find max confidence for our predicted sentiment\nvar max = 0;\nfor ( var i = 0; i < rtn.sentiment.predicted.data.length; i++) { \n    if ( rtn.sentiment.predicted.data[i].confidence > max ) { \n        rtn.sentiment.predicted.value = rtn.sentiment.predicted.data[i].label;\n        max = rtn.sentiment.predicted.data[i].confidence;\n    }\n}\n// find max confidence for SPACY sentiment of text.\nmax = 0;\nfor ( var i = 0; i < rtn.sentiment.spacy.data.length; i++) { \n    if ( rtn.sentiment.spacy.data[i].confidence > max ) { \n        rtn.sentiment.spacy.value = rtn.sentiment.spacy.data[i].label\n        max = rtn.sentiment.spacy.data[i].confidence;\n    }\n}\n// find max confidence for our predicted star ratings...\nmax = 0;\nfor ( var i = 0; i < rtn.rating.predicted.data.length; i++) { \n    if ( rtn.rating.predicted.data[i].confidence > max ) { \n        rtn.rating.predicted.value = parseInt(rtn.rating.predicted.data[i].label);\n        max = rtn.rating.predicted.data[i].confidence;\n    }\n}\n// collect the actual star ratings ( via the UI ) \nif ( rtn.rating.actual.data.class.indexOf(\"1\") > 0 ) { \n    rtn.rating.actual.value = 1;   \n}\nif ( rtn.rating.actual.data.class.indexOf(\"2\") > 0 ) { \n    rtn.rating.actual.value = 2;   \n}\nif ( rtn.rating.actual.data.class.indexOf(\"3\") > 0 ) { \n    rtn.rating.actual.value = 3;   \n}\nif ( rtn.rating.actual.data.class.indexOf(\"4\") > 0 ) { \n    rtn.rating.actual.value = 4;   \n}\nif ( rtn.rating.actual.data.class.indexOf(\"5\") > 0 ) { \n    rtn.rating.actual.value = 5;   \n}\n\n\nrtn.logical = true; // does the actual star rating of the user, match the sentiment from the reivew ( our predicted one ). \nif ( rtn.sentiment.predicted.value == \"positive\" && rtn.rating.actual.value < 3 /// ie, positive sentiment, but 1 or 2 stars.\n    || rtn.sentiment.predicted.value == \"negative\" && rtn.rating.actual.value > 3 // ie, negative sentiment but 4 or 5 stars\n    ) { \n    rtn.logical = false; \n}\n\nmsg.payload = rtn;\nreturn msg;","outputs":1,"noerr":0,"x":1292,"y":451,"wires":[["6cadc88a.4de4f8","429423dc.5bd73c"]]},{"id":"7b03eabb.2416f4","type":"http in","z":"edb85ec.6c52fa","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["71af785.62c5688"]]},{"id":"71af785.62c5688","type":"template","z":"edb85ec.6c52fa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{ \n\n    \"hello\" : \"world\"\n\n}","output":"str","x":300,"y":60,"wires":[["7469d539.a1aa0c"]]},{"id":"7469d539.a1aa0c","type":"http response","z":"edb85ec.6c52fa","name":"","statusCode":"","headers":{},"x":430,"y":60,"wires":[]},{"id":"5bb65db4.54d5b4","type":"http in","z":"68d28ce9.41cb04","name":"","url":"/submitReviews","method":"post","upload":false,"swaggerDoc":"","x":158,"y":182,"wires":[["a6cba77f.6f77e"]]},{"id":"1a7b8255.1b068e","type":"join","z":"68d28ce9.41cb04","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1071,"y":148,"wires":[["2fe4cd58.2432d2"]]},{"id":"2fe4cd58.2432d2","type":"http response","z":"68d28ce9.41cb04","name":"","statusCode":"","headers":{},"x":1201,"y":148,"wires":[]},{"id":"3fb94107.8eb74e","type":"delay","z":"68d28ce9.41cb04","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":866,"y":175,"wires":[["1a7b8255.1b068e"]]}]